<style>
    .buttonWrapper {
        height: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 10px;
    }

    .buttonWrapper button {
        margin-right: 15px;
    }

    #rowsTable {
        width: 100%;
    }

    #notesArea {
        width: 300px;
        height: 200px;
    }

</style>

<form ng-submit="formSubmit()">
    <div class="editKvitto" ng-show="Kvitto.getKvittoToEdit()">
        <div class="imgWrapper">
            <img src="{{Kvitto.getKvittoToEdit().bild}}"/>
        </div>
        <div class="contentWrapper" style="margin: 20px">

            <div class="unit" style="float:right; width: 450px;margin-left: 20px;">
                <label>Anteckning: </label>
                <textarea id="notesArea" ng-model="Kvitto.getKvittoToEdit().anteckning"></textarea>
            </div>

            <div class="unit">
                <label>Bolag: </label>
                <select ng-model="Kvitto.getKvittoToEdit().organization">
                    <option value="ApelnsExpress">Apelns Express AB</option>
                    <option value="BigBag">BigBag AB</option>
                </select>
            </div>

            <div class="unit">
                <label>Belopp: </label>
                <input ng-model="Kvitto.getKvittoToEdit().totalBelopp" type="text" id="totalAmount"/>
            </div>


            <table id="rowsTable">
                <tr>
                    <th>Belopp</th>
                    <th>Kostnadstyp</th>
                    <th>Konto</th>
                    <th>Kostandsställe</th>
                </tr>
                <tr ng-repeat="rad in Kvitto.getKvittoToEdit().rader">
                    <td>
                        <input ng-model="rad.belopp" id="amountField"/>
                    </td>
                    <td>
                        <select ng-model="rad.kostnadstyp">
                            <option value="kontorsmaterial">kontorsmaterial</option>
                            <option value="mat">mat</option>
                        </select>
                    </td>
                    <td>
                        <input ng-model="rad.konto"/>
                    </td>
                    <td>
                        <input ng-model="rad.dim1"/>
                    </td>
                </tr>
            </table>

            <button type="button" ng-click="newRow();">ny rad</button>

            <div class="buttonWrapper">
                <button type="button" id="makeReady">färdigställ</button>
                <button type="submit">ok</button>
            </div>
        </div>
    </div>
</form>